* {
    max-width: auto;
    max-height: 40%;
}

body {
    background-image: url("..//assets/1.gif"); /* gif from https://josantniosandes.artstation.com/projects/Yad6bb */
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    width: 100%;

    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    min-width: 600px;
}


.status {
    background-color: rgb(123, 123, 165);
    color: rgb(206, 206, 206);
    font-size: 1.5vw;
    opacity: 1;
    display: flex; 
    flex-direction: row;
    position: relative;
    border: double black;
    text-align: right;
    width: 30%;
    min-width: 40%;
    white-space: nowrap;
    margin-top: 1%;
    justify-content: space-around;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 5vw;
    line-height: .1;
    margin-top: 5%;
}

#mainMessage {
    opacity: 0;
}

#someMessage {
    opacity: 0;
    font-size: 3vw;
    color: yellow;
}



#thePet {
    position: relative;
    max-width: 15%;
    opacity: 1;
    transition: .01s;
    animation: walking 10s ease-out infinite, floating 4s infinite;
}

#action {
    position: relative;
    opacity: 0;
    transition: .5s;
    align-items: center;
    width: 20%;
    left: 25%
}


form {
    background-color: rgb(72, 72, 123);
    color: rgb(206, 206, 206);
    opacity: .2;
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    border: double gray;
    text-align: left;
    width: 80%;
    padding: 1% 0;
    margin-top: 12%;
}

form:hover {
opacity: .8;
}

#selection-text {
    font-size: 150%;
    color: white;
}

button {
    position: relative;
    font-size: 150%;
    color: white;
    background-color: rgb(125, 125, 196);
    border-radius: 10%;
    padding: 1% 5%;
    margin: 0 1%;
}

#restart {
    position: absolute;
    font-size:2vw;
    border: none;
    background-color: blue;
    color: lightblue;
    top: 45%;
    opacity: 0;
}

/* CLASSES */


.disabled {
    pointer-events: none;
}

.grayOut {
    opacity: 0.1;
    background-color: rgb(43, 43, 43);
}

.hid {
    opacity: 0;
}

/* ANIMATION */

@keyframes walking {
    0%   {left:0; top:0;}

    50% {left:80%; top:0;}

    100% {left:0px; top:0;}
}

@keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
    }