* {
    max-width: 1500px;
}

body {
    background-image: url("..//assets/1.gif"); /* gif from https://josantniosandes.artstation.com/projects/Yad6bb */
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 900px;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    min-width: 600px;
}

.status {
    background-color: rgb(123, 123, 165);
    color: rgb(206, 206, 206);
    opacity: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    border: double black;
    text-align: left;
    width: 30%;
    top: 1%;
    right: 1%;
    min-width: 400px;
    white-space: nowrap;
}

form {
    background-color: rgb(72, 72, 123);
    color: rgb(206, 206, 206);
    opacity: .2;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    border: double black;
    text-align: left;
    width: 80%;
    margin: 50% 0 0 0;
    padding: 1% 5%;
    min-width: 800px;
}

form:hover {
opacity: .8;
}


button {
    position: relative;
    font-size: 150%;
    color: white;
    background-color: rgb(125, 125, 196);
    border-radius: 10%;
    padding: 1% 5%;
    margin: 0 1%;
}

#ff {
    font-size: 100%;
    padding: 1% 2%;
}

#selection-text {
    font-size: 150%;
    color: white;
}

#growth {
    padding: 0 10%;
}

#hungriness {
    padding: 0 10%;
}

.petArea div {
    height: 0px;
    
}

img {
    max-width: 20%;
    height: auto;
    margin-top: 45%;
    transition: 5s;
}

.disabled {
    pointer-events: none;
}

#thePet {
    opacity: 1;
    transition: .01s;
}

#action {
    opacity: 1;
    transition: .5s;
    position: relative;
    left: 40%;
    bottom: 200px;
}

/* .pets {
margin-top: 15%;
max-width: 80%;
position: relative;
animation-name: testing;
animation-duration: 10s;
animation-iteration-count: infinite;
transition: transform 0.001s;
transform-style: preserve-3d;
} */

.pets {
margin-top: 9%;
margin-bottom: 7%;
max-width: 80%;
position: relative;
animation: walking 10s ease-out infinite, floating 4s infinite;
}

.grayOut {
    opacity: 0.1;
    background-color: rgb(43, 43, 43);
}

@keyframes walking {
    0%   {left:0; top:0;}

    50% {left:80%; top:0;}

    100% {left:0px; top:0;}
}

@keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
}
